
#social img{
	height: 50px;
	width: 50px;
	margin: 10px;
}
#social{
	text-align: center;
}
footer{
	text-align: center;
	margin: 10px;
}
/*ORDENADOR*/
@media screen and (min-width: 576px){
	#slider{
		height: 500px;
	}
	#texto{
		width: 50%;
	}
}
/*MOVIL*/
@media screen and (max-width: 720px){
	#slider{
		height: 250px;
	}
	#botones{
		text-align: center;
	}
}
